@model Entities.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";

}

<h1>Create</h1>

<h4>Sect5</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <label asp-for="CategoryPhotoSlide" class="control-label"></label>
                <input asp-for="CategoryPhotoSlide" class="form-control" />
                <span asp-validation-for="CategoryPhotoSlide" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="CategoryPhotoDrop" class="control-label"></label>
                <input asp-for="CategoryPhotoDrop" class="form-control" />
                <span asp-validation-for="CategoryPhotoDrop" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

